$test_color_1:rgb(234, 26, 213);
$test_color_2:rgb(248, 154, 61);
$test_color_3: rgb(135, 246, 225);
$test_color_4: rgb(84, 255, 184);


$color_main_dark: #1a1919;

$width_xl:1300px;
$width_lg:800px;
$width_md:600px;
$width_sm:450px;