// @import './styles/variables.scss';
@use './styles/variables.scss' as globals;
:root {
  --background: #ffffff;
  --foreground: globals.$color_main_dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: globals.$color_main_dark;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: globals.$color_main_dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container_center{
  // background-color: globals.$test_color_1;
  margin-left: auto;
  margin-right: auto;
}

.container_xl, .container_lg, .container_md, .container_sm{
  width: 100%;
}

.container_xl{
  max-width: globals.$width_xl;
}

.container_lg{
  max-width: globals.$width_lg;
}

.container_md{
  max-width: globals.$width_md;
}

.container_sm{
  max-width: globals.$width_sm;
}


// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
