@use "./styles/variables.scss" as globals;
@use "sass:list";

@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap");

$colors: red, blue, green, purple, rgb(141, 48, 212), orange;

.title_style {
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}
.text_style {
  font-family: "Outfit", serif;
}

.page_home_powered_by_tag {
  position: fixed;
  bottom: 0;
  right: 60px;
  z-index: 9999;
  padding: 10px;
  background-color: #b6acdd;
  background-color: #d3d3d3;
  background-color: #e1e0fd;
  background-color: #e8e3f1;
  background-repeat: repeat;
  // background-color: #b5a5e2;
  color: #383743;
  box-shadow: -1px -2px 4px rgba(10, 10, 10, 0.4);
  // background-image: url("../../public/brushed-alum-dark.png");
  // background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  background-size: cover;
  @extend .title_style;
  @media only screen and (max-width: globals.$width_md) {
    position: relative;
    right: 0;
    left: 0;
    text-align: center;
  }
}
.page_home_main {
  h1,
  h2,
  h3,
  h4 {
    @extend .title_style;
  }
  p,
  a,
  button {
    @extend .text_style;
    font-size: 18px;
  }
  background-color: #f0eded;
  background-color: #e9e5e5;
  // background-image: url("../../public/clean-textile.png");
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #403e43;
  padding: 34px;
  @media only screen and (max-width: globals.$width_md) {
    padding-top: 40px;
  }
  .page_home_main_stack {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background-color: rgba(232, 227, 227, 0.4);
    max-width: 700px;
    // padding: 7px 0;
    .page_home_box_title {
      margin: 0;
      margin-top: 0px;
      font-weight: 400;
      font-size: 2.125rem;
      line-height: 1.235;
      color: #58585e;
      // margin-top: -25px;
      font-size: 38px;
      font-weight: 600;
      // padding-inline: 16px;
      padding: 10px 10px 10px 0;
      @media only screen and (max-width: globals.$width_md) {
        margin-top: 0;
      }
    }
    .page_home_box_grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 12px;
      .page_home_box_grid_box_1 {
        padding: 10px;
        grid-column: 1 / 4;
        grid-row: 1;
        @media only screen and (max-width: globals.$width_md) {
          grid-column: 1 / 7;
          grid-row: 1 / 2;
        }
        .page_home_list {
          list-style: none;
          .page_home_list_item {
            .page_home_list_icon {
              width: 10px;
              height: 10px;
              display: inline-block;
              border-radius: 30%;
              align-self: center;
              margin-left: 7px;
            }
            @for $i from 1 through list.length($colors) {
              $colorValue: list.nth($colors, $i);
              &:nth-child(#{$i}) {
                .page_home_list_icon {
                  background-color: $colorValue;
                }
              }
            }
          }
        }
      }

      .page_home_box_grid_box_2 {
        grid-column: 4 / 7;
        grid-row: 1;
        padding: 21px;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        img {
          transform: rotate(0.3deg);
          box-shadow: 2px 2px 6px rgba(36, 26, 73, 0.4);
          border-radius: 17px;
          @media only screen and (max-width: globals.$width_md) {
            max-width: 80%;
          }
        }
        @media only screen and (max-width: globals.$width_md) {
          grid-column: 1 / 7;
          grid-row: 2 / 3;
        }
      }
    }
  }
}

.home_logo {
  fill: #b7b3b3;
  width: 53px;
  margin-left: 9px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  path {
    stroke: rgba(27, 25, 25, 0.1);
    stroke-width: 5px;
    opacity: 0.1;
  }
}
